* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1512px;
  margin: 0 auto;
  padding-right: 108px;
  padding-left: 108px;
}

.header-wrapper {
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bcbcbc;
}

.navigation {
  margin-left: auto;
}

.navigation-list {
  display: flex;
}

.navigation-list__item {
  margin-right: 40px;
}

.navigation-list__item:last-child {
  margin-right: 0px;
  margin-left: 24px;
}

.navigation-list__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #52525b;
}

.apoinment {
  padding: 16px 40px;
  background-color: rgba(81, 110, 255, 1);
  border-radius: 10px;
  color: #fff;
}

.active {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #516eff;
}

.hero {
  padding-top: 64px;
  padding-bottom: 108px;
}

.yellow {
  color: #ffd700;
}

.hero-wrapper {
  display: flex;
  align-items: center;
}

/* .hero-img {
  margin-left: auto;
} */

.hero__left-content {
  margin-right: 48px;
}

.hero-title {
  width: 650px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  color: #18181b;
}

.hero-description {
  width: 512px;
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 64px;
  /* or 170% */

  /* Black & Gray/777 */

  color: #777777;
}

.hero-btn--first {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #516eff;
  padding: 16px 48px;
  border-radius: 8px;
  margin-right: 48px;
}

.hero-btn--second {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #52525b;
  border-radius: 8px;
  color: #52525b;
  padding: 16px 48px;
}

.htg {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #516eff;
}

.htg-title {
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  color: #ffffff;
}

.htg-description {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 16px;
}

.htg-flex {
  display: flex;
  align-items: center;
}

.htg-wrapper {
  margin-right: 172px;
}

.htg-list {
  display: flex;
}

.htg-list__item {
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 48px;
}

.htg-list__item:last-child {
  margin-right: 0px;
}

.htg-list__description {
  width: 112px;
  text-align: center;
  margin-top: 16px;
}

.htg-icon {
  display: flex;
  fill: #52525b;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.lough {
  padding-top: 104px;
  padding-bottom: 104px;
}

.lough__upper-content {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(82, 82, 91, 0.25);
}

.lough-title {
  width: 526px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #18181b;
  margin-right: 100px;
  border-bottom: 1px solid #516eff;
  padding-bottom: 56px;
}

.lough-description {
  width: 666px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #777777;
  padding-bottom: 56px;
}

.lough__lower-content {
  display: flex;
  margin-top: 48px;
  align-items: center;
}

.provides {
  margin-left: 100px;
}

.provides-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #18181b;
}

.provides-wrapper {
  display: flex;
  margin-top: 32px;
}

.provides-list {
}

.provides-list__item {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #18181b;
  margin-bottom: 24px;
  position: relative;
  margin-left: 40px;
}

.provides-list__item:last-child {
  margin-bottom: 0px;
}

.list-distance {
  margin-right: 100px;
}

.provides-list__item::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: -20%;
  transform: translateY(-50%);
  display: block;
  background-image: url("../img/Shield.svg");
  background-size: contain;
  color: #18181b;
}

.appoinment {
}

.appoinment__upper-content {
}

.appoinment__lower-content {
  display: flex;
  align-items: center;
}

.appoinment-img {
}

.appoinment-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.form-area {
  width: 800px;
  height: 600px;
}

.form__name,
.form__phone,
.form__date,
.form__doctors {
  width: 50%;
}

.form__textarea {
  width: 100%;
  resize: none;
}
